.major-loader {
  width: 1050px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #6f8288;
  font-size: 60px;
}

.favour-loader {
  height: 400px;
  width: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #6f8288;
  font-size: 30px;
}

